## itertools

### product

Expand iterables in cartesian product style.

In [2]:
from itertools import product

In [5]:
list(product([1,2], [3,4]))

[(1, 3), (1, 4), (2, 3), (2, 4)]

### permutations
Make permuatations of iterable elements

In [6]:
from itertools import permutations

In [8]:
list(permutations("abc"))

[('a', 'b', 'c'),
 ('a', 'c', 'b'),
 ('b', 'a', 'c'),
 ('b', 'c', 'a'),
 ('c', 'a', 'b'),
 ('c', 'b', 'a')]

### combinations
Make combinations of iterable elements into pairs of specified lengths

In [9]:
# Combination without replacements
from itertools import combinations

In [11]:
list(combinations([1,2,3], 2))

[(1, 2), (1, 3), (2, 3)]

In [12]:
# Combination with replacements
from itertools import combinations_with_replacement

In [13]:
list(combinations_with_replacement([1,2,3], 2))

[(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

### accumulate
Accumulate iterable elements based on specified operation. By default, accumulation operation is *sum*.

In [17]:
from itertools import accumulate
import operator

In [18]:
list(accumulate([1,2,3,4]))

[1, 3, 6, 10]

In [19]:
list(accumulate([1,2,3,4], operator.mul))

[1, 2, 6, 24]

### groupby
Group iterable elements by the result of a specified function called on the elements.

In [23]:
from itertools import groupby
import numpy as np

In [22]:
people= [
    {
        "name": "Faaizz",
        "age": 24,
    },
    {
        "name": "Faatih",
        "age": 20
    },
    {
        "name": "Farida",
        "age": 27
    },
    {
        "name": "Fadlullah",
        "age": 29
    },
    
]

In [61]:
# Group by age groups
age_groups= groupby(people, key=lambda x: x["age"])

for age_group in age_groups:
    print("{}: {}".format(age_group[0], list(age_group[1])))

24: [{'name': 'Faaizz', 'age': 24}]
20: [{'name': 'Faatih', 'age': 20}]
27: [{'name': 'Farida', 'age': 27}]
29: [{'name': 'Fadlullah', 'age': 29}]

In [26]:
age_list= [ person["age"] for person in people  ]
age_arr= np.array(age_list)

In [46]:
average_age= age_arr.mean()

In [51]:
less_than_av= lambda x: x["age"]<average_age

In [52]:
average_age_groups= groupby(people, less_than_av)

In [54]:
# Less than average age
for age_group in average_age_groups:
    print("{}: {}".format(age_group[0], list(age_group[1])))